body {
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: 0.75px;
}

.main-search {
    text-align: center;
    height: 50%;
}

.container{ 
    display: flex; /* define parent flex container class */
    align-content: center; /* align content to center */
    flex-direction: column; /* establishes vertical main axis */
}

.logo-img {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    padding-bottom: 30px;
    margin: auto;
}

.search-bar {
    border-radius: 24px;
    height: 44px;
    box-shadow: none;
    border: 1px solid #dfe1e5;
    width: 582px;
    padding-top: 5px;
    margin: auto;
}

.button {
    margin: auto;
    height: 36px;
    border-radius: 4px;
}

#search {
    background-color: #1a73e8;
    color: white;
}

ul {
    list-style-type: none; /* removes the bullet points */
    margin: 0; /* removes the default browser styles */
    padding: 0; 
  }

li{
    display: inline;
    padding-left: 15px;
}

.nav-bar {
    padding: 15px; 
}